<div class='container'>
  <h1><strong> Dealerships Galore </strong></h1>


    <div class="container">
  <a href='/dealerships'><h3>See Dealership List</a></h3>
  <a href='/dealerships/new'><h3>Add New Dealership</a></h3>
    </div>
</div>
