<div class='container'>
  <h1><strong> Car Finder </strong></h1>


    <div class="container">
  <a href='/vehicles'><h3>See Vehicle List</a></h3>
  <a href='/vehicles/new'><h3>Add New Vehicles</a></h3>
    </div>
</div>
