<div class="container"
  <h1> Add A Vehicle</h1>
  <br>
  <br>
  <br>



  <form action="/vehicles" method="post">

      <label for="make">Vehicle's Make:<br></label>
      <input id="make" name="make" class="form-control" type="text">

      <label for="model">Vehicle's Model:<br></label>
      <input id="model" name="model"  class="form-control" type="text">

      <label for="year">Vehicle's Year:<br></label>
      <input id="year" name="year" class="form-control" type="text">

      <button type="submit" class="btn btn-submit">Add Vehicle</button>
  </form>
