
 <div class="container">
    <h1> Here is the Info for your vehicle search:</h1>

    <div class="container">
    <h1><%= @vehicle.make %></h1>
    <h1><%= @vehicle.model %></h1>
    <h1><%= @vehicle.year %><h1>
    </div>
</div>

    <a href='/'><h2>Home</h2></a>
