<div class="container">
  <H1> Here is all of the vehicle info on the lot:</h1>

    <div class="container">
      <h1><%= @vehicle.make %></h1>
      <h1><%= @vehicle.model %></h1>
      <h1><%= @vehicle.year %><h1>
    </div>
  </div>

  a<href='/'><h2>Home</h2></a>      
